{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<header class="py-4">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-1 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold">Update Avatar</h1>
                    </div>
                </div>
            </div>
        </header>
{% with messages = get_flashed_messages() %}
    {% if messages %}

        {% for message in messages %}
            <div class="alert alert-danger alert-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="container px-4">
    <div class="row gx-4 justify-content-center">
        <div class="col-lg-10">

            <img class="img-fluid rounded-3 my-5" src="{{ url_for('static', filename=avatar) }}" alt="..." />


<form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
    <p>
        {{ form.avatar.label }}: enter your new profile picture link<br>
        {{ form.avatar(size=32) }}
        {% for error in form.avatar.errors %}
        <span style="...">[{{error}}] </span>
        {% endfor %}
    </p>

    <p> {{ form.submit() }} </p>
</form>

            <form action="/action_page.php">
  <input type="file" id="myFile" name="filename">
  <input type="submit">
</form>


        </div>
    </div>
</div>
<br>
<!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="col-auto"><p class="small m-0 text-center text-white">Copyright &copy; DIY Money 2022</p></div>
        </footer>
{% endblock %}